* {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    color: white;
    padding: 0%;
    margin: 0%;
}


.Logo-icon {
    width: 50px;
    height: 50px;
    transition: 1s;
}

.Logo-icon:hover {
    transform: rotate(360deg);

}

.Logo {
    text-align: center;
}
nav {
    align-items: center;
    gap: 10px;
    display: flex;
    background-color: rgb(3, 0, 28);
    border: 1px solid rgb(3, 0, 28);
    height: 9vh;
}

body {
    background-image: url("../assets/Icon-Logo/Login-wallpaper-desktop.png");
    background-repeat: no-repeat;
    background-color: #000000;
    background-size: cover;

}

.container {
    transform: translate(-39%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.bloco {
    border: 3px solid #ffffff1d;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    opacity: 0.9;
    width: 100%;
    
}

input{color: #000000;}

/* Não mexer no código de cima dessa mensagem */

.email,.senha{
    padding: 10px;
    border-radius: 3px;
    font-size: 15px;
    width: 20vw;
    height: 3vh;
    margin-top: 18px;
    
}

.nome{
    margin-top: 2vw;
    padding: 10px;
    border-radius: 3px;
    font-size: 15px;
    width: 20vw;
    height: 3vh;
}

.numero-telefone{
    padding: 10px;
    border-radius: 3px;
    font-size: 15px;
    width: 20vw;
    height: 3vh;
}

.registrar{
    background-color: rgb(207, 0, 0);
    transition: 1s;
    border-radius: 6px;
    margin-top: 0.5vw;
    font-size: 100%;
    cursor: pointer;
    color: white;
    width: 21.8vw;
    border: none;
    height: 6vh;
}

.registrar:hover{
    box-shadow: 0px 0px 5px rgb(255, 0, 0);
    background-color: red;
    scale: 105%;
}

#opcional{  
    margin-left: 4%;
    text-align: left;
    margin-top: 5px;
    color: red;
    font-size: 10px;
}


.termos{
    color:rgb(0, 26, 255)
}

.lembre-se{
    margin-left: 1vw;
    text-align: left;
    margin-top: 0.5vw;
}

.titulo{
    text-align: left;
    margin-top: 10%;
    margin-left: 4.5%;
}
.check{
    margin-right: 10px;
}

input {
    padding: 0;
    margin: 0;
  }