* {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    color: white;
    padding: 0%;
    margin: 0%;
}

.Logo-icon {
    margin-right: 10px;
    transition: 1s;
    height: 50px;
    width: 50px;
}

.Logo-icon:hover {
    transform: rotate(360deg);
}

.Logo {
    text-align: center;
}

nav {
    background-color: rgb(3, 0, 28);
    border: 1px solid rgb(3, 0, 28);
    align-items: center;
    display: flex;
    height: 9vh;
}

body {
    background-color: #000000;
}

/* Código principal abaixo */

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 19px;
    transition: 1s;
    
    
}

li:hover {
    scale: 105%;
}

.nav-init {
    margin-left: 1vw;
}

.user-icon {
    border: 5px solid white;
    transition: 1s ease;
    border-radius: 5px;
}

.user-icon:hover {
    scale: 55%;
}

.barra-de-pesquisa {
    border: 3px solid rgb(255, 255, 255);
    background-color: #202020dc;
    color: #ffffff;
    height: 25px;
    width: 10vw;
}

section{
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.container2 {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 255, 255, 0.39);
    margin-right: 3vw;
    margin-left: 3vw;
    gap: 15px;
}

.series-maratonar {
    margin-left: 3vw;
    margin-top: 1vw;
    font-size: 25px;
}

/* Séries para Maratonar */
#a1 {
    
    transition: 2s ease;
    cursor: pointer;
    width: 17vw;
    
    
}

#a1:hover {
    scale: 110%;
}

.logar{
    background-color: red;
    border-radius: 5px;
    margin-left: 3vw;
    cursor: pointer;
    color: white;
    border: none;
    height: 2vw;
    width: 5vw;
}
.registrar{
    background-color: rgb(32, 7, 122);
    border-radius: 5px;
    margin-left: 1vw;
    cursor: pointer;
    color: white;
    border: none;
    height: 2vw;
    width: 5vw;
}

.container{
    justify-content: center;
    margin-top: 2vw;
    display: flex;
}

.box-series{
    background-image: url("assets/Series/brakinbad-4.jpg");
    background-size:cover;
    flex-direction: column;
    width: 93vw;
    display: flex;
    height: 80vh;

}

.titulo-serie{
    margin-top:1%;

}

.descricao-serie{
    letter-spacing: 1px;
    margin-top: 1vw;
    text-align:justify;
    max-width: 42vw;
    font-size: 18px;
}

.assistir{
    cursor: pointer;
    font-size: 20px;
    margin-top: 1vw;
    color: black;
    background-color: white;
    width: 10vw;
    height: 4.8vh;
    border: none;
    border-radius: 3px;
    transition: 0.4s;
}

.assistir:hover{
    scale: 105%;
    box-shadow: 1px 10px  14px black;
}

.favorito{
    margin-top: 1vw;
    cursor: pointer;
    font-size: 20px;
    color: white;
    background-color: gray;
    width: 10vw;
    height: 4.8vh;
    border: 3px solid white;
    border-radius: 3px;
    transition: 0.4s;
}

.favorito:hover{
    scale: 105%;
    box-shadow: 1px 10px  14px black;

}

.botoes{
    display: flex;
    gap: 14px;
}

strong{
    font-size: 19px;
}

.espacos,.botoes{
    margin-left: 1vw;
}

.borda{
    background-color: #000000;
    opacity: 90%;
    width: 43.5vw;
    height: 100%;
    filter: drop-shadow(20px  0px 10px black);
    box-shadow: 0 0 20px 20px rgba(0,0,0,0.5);
    
}

@media (max-height:1000px){
    .box-series{
        height: 39vw;
    }
    ul{
        gap: 30px;
    }
    .borda{
        height: 100%;
    }
}