h1,h2,p{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
  }

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bloco {
    backdrop-filter: blur(10px);
    background-color: #000;
    text-align: center;
    border: 1px solid #000;
    padding: 10px;
    opacity: 0.9;
    width: 30vw;
    height: 50vh;
}

.Login{
    text-align: left;
    margin-left: 14.5%;
}

.Enviar{
    background-color: red;
    color: white;
    
     
}

.Email{

}

.Senha{

}