*{
    padding: 0%;
    margin: 0%;
}


h1,h2,h3,p,label{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    color: white;
    text-align: justify;
  }



.Logo-icon {
    width: 50px;
    height: 50px;
    transition: 1s;
}

.Logo-icon:hover {
    transform: rotate(360deg);

}

.Logo {
    text-align: center;
}
nav {
    align-items: center;
    gap: 10px;
    display: flex;
    background-color: rgb(3, 0, 28);
    border: 1px solid rgb(3, 0, 28);
    height: 9vh;
}



body{
    background-image: url("../../assets/Icon-Logo/Login-wallpaper-desktop.png");
    background-repeat: no-repeat;
    background-color: #000000;
    background-size: cover;

}


.container {
    transform: translate(-35%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
  }

  .bloco {
    border: 3px solid #ffffff1d;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 10px;
    opacity: 0.9;
    width: 67%;
}


.bnt{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    background-color: rgb(207, 0, 0);
    transition: 1s;
    border-radius: 6px;
    margin-top: 18px;
    font-size: 100%;
    cursor: pointer;
    color: white;
    width: 20.6vw;
    border: none;
    height: 6vh;
}

.bnt:hover{
    box-shadow: 0px 0px 5px rgb(255, 0, 0);
    background-color: red;
    scale: 105%;
}

.botao{
    text-align: center;
}

a{
    color: blue;
    text-decoration: none;
}